* {
    box-sizing: border-box;
}

html,
body,
#root {
    min-width: 320px;
    min-height: 100%;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #1f1f1f;
    background-color: #f3f5f7;
}

button,
input,
textarea,
select {
    font: inherit;
}

.app {
    min-height: 100dvh;
    place-items: center;
    display: grid;

    padding: 24px;

    background-color: #f3f5f7;
}

@media (max-width: 480px) {
    .app {
        padding: 16px;
    }
}